[Desktop Entry]
Name=Foosball
Comment=Table football game
Comment[pl]=Gra w piłkarzyki
Icon=foosball
Exec=foosball
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
